:8080 {

	handle_path /n8n/webhook/* {
		uri strip_prefix /n8n
    reverse_proxy n8n:5678 {
			header_up X-Real-IP {remote_host}
	  }
	}

	handle /auth/login {
		forward_auth n8n:5678 {
			uri /webhook/{$WEBHOOK_ID}/check
			copy_headers X-Forwarded-User
		}
	}

	handle /_auth/login {
		uri replace _auth webhook/{$WEBHOOK_ID}
		reverse_proxy n8n:5678 {
			header_up X-Real-IP {remote_host}
		}
	}

	handle /_auth/logout {
		uri replace _auth webhook/{$WEBHOOK_ID}
		reverse_proxy n8n:5678
	}

  reverse_proxy grist:8484 {
		header_up -X-Real-IP
	}
}
